<div class="row">
<div id="order-new" class="col-12">
  <div id="cancel_s" style="display:none"><%= t(:cancel) %></div>
     <% unless @current_branch_setting.branch_setting_user_type.user_type_id==1 %>
      <%= render 'search_user_form' %>
      <% end  %>
  <%= form_with(model: @order, local: true, :html=>{:id=>"order_form", class: 'row'}) do |form| %>
    <h1 class="order-layer mt-3 mb-2"><%= t(:select_product) %></h1>
    <input type="hidden" id="select_first_text" value="<%=t(:select_first) %>">
    <%= render 'product_categories/list' %>
    <%= render 'products/list' %>
    <aside class="col-12 col-lg-4 left-form order-layer">
      <div class="row">
        <%= render 'list',:order => @order %>
      </div>
    </aside>
    <div  class="col-12 order-layer">
    <div class="d-grid gap-2 mt-3">
      <%= button_tag t(:select_complete), :type => 'button', id: 'select-complete', class: "btn btn-primary btn-lg disabled" %>
    </div>
    </div>
    <div class="col-12 payment-layer">
    <%= render 'payment' %>
    </div>
      <div class="col-8 payment-layer">
      <div class="d-grid gap-2 mt-3">
        <%= form.submit :value=>t(:order),:class=>"btn btn-primary btn-lg" %>
      </div>
    </div>
    <div class="col-4 payment-layer">
      <div class="d-grid gap-2 mt-3">
      <%= button_tag t(:select_again), :type => 'button', id: 'select-again', class: "btn btn-danger btn-lg " %>
      </div>
    </div>
    <% end %>
  </div>
</div>
