<%= form_with(model: [:admin, product], local: true) do |form| %>
  <div class="card">
    <div class="card-body">
      <% if @current_branch_setting.use_product_category %>
      <div class="form-group">
        <%= form.label :product_category_id %>
        <%= form.select :product_category_id, options_from_collection_for_select(ProductCategory.where(:branch_id => session[:branch_id], :enable => true).order('order_no desc'), 'id', 'title', product.product_category_id), {}, { :class => "form-control" } %>
      </div>
      <% end %>
      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, :class => "form-control", :required => "required" %>
      </div>
      <div class="form-group">
        <%= form.label :price %>
        <%= form.number_field :price, :class => "form-control", :required => "required" %>
      </div>
      <div class="form-group">
        <%= form.label :order_no %>
        <%= form.number_field :order_no, :class => "form-control" %>
      </div>
      <%= form.fields_for :product_picture do |pp| %>
        <div class="form-group">
          <%= pp.label :picture %>
          <%= pp.file_field :picture, :class => "form-control-file" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="d-grid gap-2 mt-3">
  <%= form.submit :class => 'btn btn-primary btn-lg' %>
  </div>
<% end %>