<div class="col-12 col-lg-8 list order-layer">
  <div id="order-product-list" class="row">
    <% unless @products.empty? %>
      <% @products.each_with_index do |product,index| %>
        <article class="col-12 col-sm-6 col-xxl-3">
          <div class="card">
            <h3 class="card-header text-center"><span><%= product.title %></span><i title="정보보기" class="material-icons float-end" data-info="/products/<%=product.id %>">info</i></h3>
            <div class="card-body">
              <input type="hidden" name="product_id[]" value="<%= product.id %>">
              <input type="hidden" name="price[]" value="<%= product.price %>">
              <div class="text-center">
                <div class="product-pictures">
                <% unless product.product_pictures_count.zero? %>
                  <%=image_tag product.product_pictures[0].picture.medium_thumb.url %>
                <% end %>
                </div>
                <p><%= number_to_currency product.price %></p>
              </div>
            </div>
            <div class="card-footer">
              <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-lg" style="padding:1rem"><%= t(:quantity) %></span>
                </div>
                <input type="number" value="0" min="0" class="form-control quantity" aria-label="Large" aria-describedby="inputGroup-sizing-lg">
              </div>
            </div>
          </div>
        </article>
      <% end %>
    <% end %>
  </div>
  <%= paginate @products %>
</div>
